<div class="container">
    <div class="card mt-4 text-white main-color" id="main-admin-card">
        <div class="card-body text-center">
            <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        </div>
        <div *ngIf="!loading">
            <ul *ngIf="friend">
                <h2>YO FRIENDHUB SERVICE WORKIN</h2>
                <li *ngFor="let item of friend">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title (click)="fun()">{{item}}</mat-card-title>
                            <app-chat></app-chat>
                            <mat-card-subtitle>Online</mat-card-subtitle>
                            <div id='notification'>{{textic}}</div>
                        </mat-card-header>
                    </mat-card>
                </li>
            </ul>
        </div>

        <ul *ngIf="chat">
            <h2>YO CHATHUB SERVICE WORKIN</h2>
            <li *ngFor="let item of chat">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title (click)="fun()">{{item}}</mat-card-title>
                        <app-chat></app-chat>
                        <mat-card-subtitle>Online</mat-card-subtitle>
                        <div id='notification'>{{textic}}</div>
                    </mat-card-header>
                </mat-card>
            </li>
        </ul>
    </div>
</div>